<div class="super_container">

	<!-- Header -->





	<!-- Home -->

	<div class="home">
		<div class="home_slider_container">

			<!-- Home Slider -->
			<div class="owl-carousel owl-theme home_slider">

				<!-- Slider Item -->
				<div class="owl-item">

					<div class="home_slider_background" style="background-image:url(assets/elearn/images/course_6.jpg)">
					</div>
					<div class="home_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_content text-center">
										<div class="home_logo"><img src="assets/elearn/images/home_logo.png" alt="">
										</div>
										<div class="home_text">
											<div class="home_title">Complete Courses</div>
											<div class="home_subtitle">Several training centers (vocational training
												centers, institutes and offices in Tunisia) are approved by the State
												and offer diplomas approved by the Tunisian Ministry of Vocational
												Training and Employment. find the List of private vocational training
												centers in Tunisia:</div>
										</div>
										<div class="home_buttons">
											<div class="button home_button"><a routerLink="about">learn more<div
														class="button_arrow"><i class="fa fa-angle-right"
															aria-hidden="true"></i></div></a></div>
											<div class="button home_button"><a routerLink="courses">see all courses<div
														class="button_arrow"><i class="fa fa-angle-right"
															aria-hidden="true"></i></div></a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Slider Item -->
				<div class="owl-item">

					<div class="home_slider_background" style="background-image:url(assets/elearn/images/index.jpg)">
					</div>
					<div class="home_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_content text-center">
										<div class="home_logo"><img src="assets/elearn/images/home_logo.png" alt="">
										</div>
										<div class="home_text">
											<div class="home_title">Complete Online Courses</div>
											<div class="home_subtitle">offers several initial and continuous training
												courses and seminars. Whether you are employees, students or job
												seekers..</div>
										</div>
										<div class="home_buttons">
											<div class="button home_button"><a routerLink="about">learn more<div
														class="button_arrow"><i class="fa fa-angle-right"
															aria-hidden="true"></i></div></a></div>
											<div class="button home_button"><a routerLink="courses">see all courses<div
														class="button_arrow"><i class="fa fa-angle-right"
															aria-hidden="true"></i></div></a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Slider Item -->
				<div class="owl-item">

					<div class="home_slider_background" style="background-image:url(assets/elearn/images/course_8.jpg)">
					</div>
					<div class="home_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_content text-center">
										<div class="home_logo"><img src="assets/elearn/images/home_logo.png" alt="">
										</div>
										<div class="home_text">
											<div class="home_title">Complete Online Courses</div>
											<div class="home_subtitle">offers several initial and continuous training
												courses and seminars. Whether you are employees, students or job
												seekers..</div>
										</div>
										<div class="home_buttons">
											<div class="button home_button"><a routerLink="about">learn more<div
														class="button_arrow"><i class="fa fa-angle-right"
															aria-hidden="true"></i></div></a></div>
											<div class="button home_button"><a routerLink="courses">see all courses<div
														class="button_arrow"><i class="fa fa-angle-right"
															aria-hidden="true"></i></div></a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


	<app-courses></app-courses>
	<!-- Milestones -->

	<div class="milestones">
		<!-- Background image artis https://unsplash.com/@thepootphotographer -->
		<div class="parallax_background parallax-window" data-parallax="scroll"
			data-image-src="assets/elearn/images/milestones.jpg" data-speed="0.8"></div>
		<div class="container">
			<div class="row milestones_container">

				<!-- Milestone -->
				<div class="col-lg-3 milestone_col">
					<div class="milestone text-center">
						<div class="milestone_icon"><img src="assets/elearn/images/milestone_1.svg" alt=""></div>
						<div style="font-size: 50px;" class="milestone_text">{{activeUserCount}}</div>
						<div class="milestone_text">training center</div>
					</div>
				</div>








				<!-- Milestone -->
				<div class="col-lg-3 milestone_col">
					<div class="milestone text-center">
						<div class="milestone_icon"><img src="assets/elearn/images/milestone_2.svg" alt=""></div>
						<div style="font-size: 50px;" class="milestone_text">{{ formationCount }}</div>
						<div class="milestone_text">all Courses</div>
					</div>
				</div>

				<!-- Milestone -->
				<div class="col-lg-3 milestone_col">
					<div class="milestone text-center">
						<div class="milestone_icon"><img src="assets/elearn/images/milestone_4.svg" alt=""></div>
						<div style="font-size: 50px;" class="milestone_text">{{ categorieCount }}</div>
						<div class="milestone_text">all Category</div>
					</div>
				</div>

				<!-- Milestone -->
				<div class="col-lg-3 milestone_col">
					<div class="milestone text-center">
						<div class="milestone_icon"><img src="assets/elearn/images/milestone_3.svg" alt=""></div>
						<div style="font-size: 50px;" class="milestone_text">{{ scategorieCount }}</div>
						<div class="milestone_text">SubCategory</div>
					</div>
				</div>





			</div>
		</div>
	</div>

	<!-- Sections -->

	<div class="grouped_sections">
		<div class="container">
			<div class="row">

				<!-- Why Choose Us -->

				<div class="col-lg-4 grouped_col">
					<div class="grouped_title">WHO ARE WE ?</div>
					<div class="accordions">

						<div class="accordion_container">
							<div class="accordion d-flex flex-row align-items-center active">
								<div>Wehub</div>
							</div>
							<div class="accordion_panel">
								<div>
									<p> is a search engine and a directory dedicated to initial training, professional
										and continuous training in Tunisia. It is a rich, simple and effective research
										tool made available to companies, employees and students looking for training
										and further training.</p>
								</div>
							</div>
						</div>

						<div class="accordion_container">
							<div class="accordion d-flex flex-row align-items-center">
								<div>what we offer?</div>
							</div>
							<div class="accordion_panel">
								<div>
									<p>Vocational training in Tunisia offered by training centers and institutes
										contains 3 types of training (concerning the different levels: training with
										baccalaureate, training without baccalaureate = training at baccalaureate
										level): (>> the most requested training).</p>
								</div>
							</div>
						</div>




					</div>

				</div>

				<!-- Events -->

				<div class="col-lg-4 grouped_col">
					<div class="grouped_title">TRAINING REQUESTS </div>

					<!-- Milestone -->
					<div class="col-lg-3 milestone_col">
						<div class="milestone text-center">
							<div class="milestone_icon"><img src="assets/elearn/images/milestone_1.svg" alt=""></div>
							<div style="font-size: 50px; color:rgb(0, 8, 82)" class="milestone_text">{{ demandeCount }}
							</div>

						</div>
					</div>



					<div class="events" *ngIf="listdemande | async as demandes">

						<!-- demandes -->
						<div class="event d-flex flex-row align-items-start justify-content-start"
							*ngFor="let item of demandes | paginate: { itemsPerPage: 6, currentPage: pa }">

							<div class="event_body">
								<div class="event_title"><a href="#">{{item.libelle}}</a></div>
								<div class="event_subtitle">{{item.description}}</div>
							</div>
						</div>
						<pagination-controls (pageChange)="pa = $event"></pagination-controls>



					</div>
				</div>

				<!-- TRAINER RESUME -->
				<div class="col-lg-4 grouped_col">
					<div class="grouped_title"> TRAINER RESUME</div>
					<div class="news" *ngIf="listcandidate | async as candidates">
				
						<!-- News Post -->
						<div class="news_post d-flex flex-row align-items-start justify-content-start"
							*ngFor="let items of candidates | paginate: { itemsPerPage:4, currentPage: pc }">
							<div>
								<div class="news_post_image"><img src="{{this.candidateService.host+items.id}}"
										alt="Candidate Photo"></div>
							</div>
							<div class="news_post_body">
								<div class="news_post_date">{{ items.nom }} {{ items.prenom }}</div>
								<div class="news_post_title"><a href="news.html">{{ items.secteur }}</a></div>
				
							</div>
						</div>
						<pagination-controls (pageChange)="pc = $event"></pagination-controls>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<!-- Video -->

	<div class="video">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="video_container_outer">
						<div class="video_container">
							<!-- Video poster image artist: https://unsplash.com/@annademy -->
							<video id="vid1" class="video-js vjs-default-skin" controls
								data-setup='{ "poster": "assets/elearn/images/course_9.jpg", "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "https://youtu.be/MbI82K0hzE0"}], "youtube": { "iv_load_policy": 1 } }'>
							</video>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Join -->

	<div class="join">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="section_title text-center">
						<h2>Join Our Platform Today and become training Center with us </h2>
					</div>
					<div class="section_subtitle">give more visibility to your training establishment. present your
						training to thousands of interests</div>
				</div>
			</div>
		</div>
		<div class="button join_button"><a routerLink="signup">register now<div class="button_arrow"><i
						class="fa fa-angle-right" aria-hidden="true"></i></div></a></div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<!-- Footer -->


</div>