


<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>









<h1 style="text-align: center; color:rgb(255, 145, 0);font-family: system-ui;">👋 Training list!</h1>


<ul class="cards"  *ngIf="listData | async as formations">
  <li class="card"*ngFor="let item of formations | paginate: { itemsPerPage: 3, currentPage: p }">
    <div >
      <a href="#"><img class="card-img-top img-responsive"
        src = "{{this.crudApi.host+'/api/Imgarticles/'+item.id}}" 
        style = "height :200px;width:fil-content"
       alt=""></a>
      <h2>{{item.libelle}}</h2>
      <div class="card__buttons">
        <button (click) = "selectData(item)">✍ modification</button>
        <button (click) = "removeData(item.id)">⛔ <br>deletion</button>
      </div>
    </div>
    <br>
    <h3 class="card__tagline">You can make modifications or deletions</h3>
    <h3 class="card__tagline">{{item.description}}</h3>
    <ul class="card__icons">
      <li><i class="fa fa-coffee">  {{item.place}} personnes</i></li>
      <li><i class="fa fa-bolt">{{item.pa}} dinars</i></li>
      <li><i class="fa fa-bomb">{{item.local}}</i></li>
      <br>
     
      <li><i class="fa fa-cutlery">id categorie:{{item.num_cat}}</i></li>
      <li><i class="fa fa-bolt">id sous-categorie:{{item.num_scat}}</i></li>
    </ul>
    <p>{{item.username}}</p>
  </li>
 
  <pagination-controls (pageChange)="p = $event" ></pagination-controls>
  
</ul>

  











































































    <!--<div>
        Liste formation
      </div>
    
    
   
   <div class="pricing-header mx-auto">
     <div class="table-responsive">
      <table class="table table-bordered table-responsive-sm table-responsive-md
     table-responsive-lg">
      <thead>
      <tr>
      <th scope="col">Code</th>
      <th scope="col">Libelle </th>
      <th scope="col">centre de formation</th>
      <th scope="col">prix </th>
      <th scope="col">num place </th>
      <th scope="col">id cat </th>
      <th scope="col">id scat </th>
      <th scope="col">localisation </th>
      <th scope="col">Image </th>
      <th class="text-center" scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
        
      
      <tr *ngFor="let item of listData |async">
      <th class ="hidden">{{item.id}}</th>
      <td>{{item.code}}</td>
      <td>{{item.libelle}}</td>
      <td>{{item.nomcentre}}</td>
      <td>{{item.pa}}</td>
      <td>{{item.place}}</td>
      <td>{{item.id_cat}}</td>
      <td>{{item.id_scat}}</td>
      <td>{{item.local}}</td>
      <td><a href="#"><img class="card-img-top img-responsive"
        src = "{{this.crudApi.host+'/api/Imgarticles/'+item.id}}" 
        style = "height :200px;width:fil-content"
       alt=""></a></td>
     
     
      <td><button class="btn btn-warning"  (click) = "selectData(item)">
        <i class="fa fa-pencil-square-o" ></i></button></td>
     <td><button class="btn btn-danger" (click) = "removeData(item.id)">
        <i class="fa fa-trash-o"></i></button></td>
         </tr>
           </tbody>
           </table>
           </div>
         </div>-->
  