<div class="col-md-4">
    <div class="iq_search_courses">
        <h4>Search Courses</h4>
          <form>
              <!--Input Start-->
            <div class="iq-input">
                <input type="text" placeholder="Name">
              </div>
              <!--Input End-->
              <!--Input Start-->
              <div class="iq-input">
                <input type="email" placeholder="E-mail">
              </div>
              <!--Input End-->
              <!--Input Start-->
              <div class="iq-input">
                <input type="text" placeholder="Name">
              </div>
              <!--Input End-->
              <!--Input Start-->
              <div class="iq-input">
                  <select name="Dicipline">
                      <option value="0">Dicipline</option>
                      <option value="9">Saab</option>
                      <option value="2">Fiat</option>
                      <option value="3">Audi</option>
                  </select>
              </div>
              <!--Input End-->
              <!--Input Start-->
              <div class="iq-input">
                  <select name="Course_Length">
                      <option value="0">Course Length</option>
                      <option value="9">Saab</option>
                      <option value="2">Fiat</option>
                      <option value="3">Audi</option>
                  </select>
              </div>
              <!--Input End-->
              <!--Input Start-->
              <div class="iq-input">
                  <select name="Study_Level">
                      <option value="0">Study Level</option>
                      <option value="9">Saab</option>
                      <option value="2">Fiat</option>
                      <option value="3">Audi</option>
                  </select>
              </div>
              <!--Input End-->
              <!--Input Start-->
              <div class="iq-input">
                  <select name="Campus_Location">
                      <option value="0">Campus Location</option>
                      <option value="9">Saab</option>
                      <option value="2">Fiat</option>
                      <option value="3">Audi</option>
                  </select>
              </div>
              <!--Input End-->
              <!--Input Start-->
              <div class="iq-input">
                <input type="text" placeholder="Key Words">
              </div>
              <!--Input End-->
              <!--Input Start-->
              <div class="iq-input">
                <input class="iq_link_1" type="submit" value="Search">
              </div>
              <!--Input End-->
          </form>
      </div>
  </div>